* {
  margin: 0;
  padding: 0;
}

canvas#canvas {
  display: block;
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5);
  background: linear-gradient(to right, #acb6e5, #74ebd5);
}
