* {
  margin: 0;
  padding: 0;
}

canvas#canvas {
  display: block;
  background: #141e30;
  background: -webkit-linear-gradient(to bottom, #243b55, #141e30);
  background: linear-gradient(to bottom, #243b55, #141e30);
}