/************ song-tag ************/
[class^="song-"], [class*="song-"], [class^="song-"] *, [class*="song-"] *,
[class^="song-"] ::before, [class*="song-"] ::before,
[class^="song-"] ::after,  [class*="song-"] ::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.song-tag {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  display: inline-block;
  height: auto;
  margin-right: 8px;
  padding: 0 7px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  /* border-radius: 2px; */
  border-radius: 11px;
  cursor: default;
  opacity: 1;
  transition: all .3s cubic-bezier(.78, .14, .15, .86);
  color: rgba(0, 0, 0, .65);
  margin-bottom: 8px;
}

.song-tag-magenta {
  color: #eb2f96;
  background: #fff0f6;
  border-color: #ffadd2;
}

.song-tag-volcano {
	color: #fa541c;
	background: #fff2e8;
	border-color: #ffbb96;
}

.song-tag-lime {
	color: #a0d911;
	background: #fcffe6;
	border-color: #eaff8f;
}

.song-tag-cyan {
	color: #13c2c2;
	background: #e6fffb;
	border-color: #87e8de;
}

.song-tag-hidden {
  display: none;
}

.action {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -.125em;
  text-rendering: optimizeLegibility;
}

.song-tag-close-icon {
  display: inline-block;
  font-size: 10px;
  margin-left: 3px;
  color: rgba(0, 0, 0, .45);
  cursor: pointer;
  -webkit-transition: all .3s cubic-bezier(.78, .14, .15, .86);
  transition: all .3s cubic-bezier(.78, .14, .15, .86);
}

.action[tabindex] {
  cursor: pointer;
}

.action > * {
  line-height: 1;
}

svg:not(:root) {
  overflow: hidden;
}

.action svg {
  display: inline-block;
}
