.ripple-effect {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  z-index: 1;
}

.ripple-effect .ripple {
  display: block;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(45deg,
    rgba(255, 0, 0, .5),
    rgba(255, 255, 0, .5),
    rgba(0, 255, 255, .5),
    rgba(0, 0, 255, .5)
  );
  transform: scale(0);
  pointer-events: none;
}

.ripple-effect .animated {
  animation: ripple .6s linear;
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
