* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 50px auto;
  background-color: rgba(204, 204, 204, .6);
}

.btn {
  height: 35px;
  width: 100px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}